In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
sns.set()
plt.rcParams['font.sans-serif'] = ['SimHei'] # 显示中文标题 
plt.rcParams['axes.unicode_minus'] = False # 正常显示正负号

In [2]:
from sklearn.linear_model import LogisticRegression as LR
from sklearn.linear_model import RandomizedLogisticRegression as RLR

In [3]:
df = pd.read_excel('D:/2018 广东金融学院数学建模第一次模拟(1)/2018 广东金融学院数学建模第一次模拟/附件1.xls')

df = df.drop(6329)
df['y'] = df['y'].astype('float')
X = df.loc[:,['x1','x6']]
y = df.loc[:,'y']

In [4]:
g = df.groupby(df['x6'])
X6_1= list(g)[0][1]

In [5]:
X6_1

      Number    y     x1     x2  x3      x4        x5  x6
0          1  0.0  63.91  50.34   0  0.3662  0.348837   1
3          4  1.0  67.90  28.41   1  0.5242  0.941395   1
6          7  1.0  75.15  48.05   0  0.6479  0.093023   1
8          9  1.0  77.89  48.48   1  0.3685  1.024419   1
12        13  0.0  26.59  50.12   0  0.5494  1.062326   1
14        15  1.0  77.89  32.39   1  0.3685  1.160000   1
17        18  0.0  68.40  61.81   0  0.3380  0.209302   1
18        19  1.0  74.54  30.82   1  0.4357  1.237674   1
25        26  1.0  70.65  43.46   0  0.3380  0.255814   1
38        39  0.0  61.26  54.98   1  0.4357  0.941395   1
40        41  1.0  41.35  57.39   1  0.1997  1.237674   1
41        42  1.0  75.15  38.88   0  0.2817  0.093023   1
43        44  1.0  73.34  39.29   1  0.3941  1.634651   1
44        45  1.0  70.65  50.34   0  0.3380  0.069767   1
47        48  1.0  66.12  59.48   1  0.2578  1.191628   1
48        49  0.0  50.20  57.39   1  0.3472  0.867209   1
50        51  1.0  54.62  52.56   1  0.5537  1.015349   1
52        53  1.0  51.35  64.21   1  0.5963  0.999767   1
66        67  1.0  68.80  27.79   1  0.4964  0.821163   1
67        68  1.0  40.32  33.21   0  0.4377  0.991628   1
70        71  0.0  68.23  40.57   1  0.4425  1.127674   1
74        75  1.0  64.01  57.12   1  0.2578  1.319302   1
76        77  0.0  59.42  57.22   0  0.4507  0.116279   1
79        80  1.0  36.58  45.30   1  0.4732  1.191628   1
80        81  0.0  66.12  47.66   1  0.3194  1.191628   1
82        83  1.0  70.34  61.84   1  0.5040  1.063721   1
83        84  1.0  52.41  45.31   1  0.3767  1.015349   1
86        87  0.0  68.80  73.77   1  0.3685  1.295581   1
87        88  1.0  57.17  36.58   0  0.5915  0.069767   1
95        96  1.0  70.07  45.29   0  0.5494  1.345116   1
...      ...  ...    ...    ...  ..     ...       ...  ..
6270    6271  1.0  72.32  38.07   1  0.3472  1.015349   1
6271    6272  1.0  65.69  57.39   1  0.4947  1.015349   1
6272    6273  1.0  61.90  28.75   1  0.5348  0.936047   1
6274    6275  1.0  72.32  59.81   1  0.4652  0.719070   1
6275    6276  0.0  43.56  47.73   1  0.5537  0.867209   1
6278    6279  1.0  76.24  34.27   0  0.3555  1.483023   1
6279    6280  1.0  72.90  41.17   0  0.3380  0.093023   1
6281    6282  1.0  76.93  54.95   0  0.2701  1.274419   1
6282    6283  1.0  64.01  31.11   1  0.5040  0.936047   1
6283    6284  1.0  75.15  38.88   0  0.1690  0.209302   1
6286    6287  1.0  56.84  59.81   1  0.5537  0.941395   1
6289    6290  1.0  51.76  42.87   0  0.4936  0.709070   1
6296    6297  0.0  68.23  57.12   1  0.4425  1.127674   1
6298    6299  0.0  72.32  35.65   1  0.4652  1.163488   1
6299    6300  0.0  70.34  52.39   1  0.1040  1.383256   1
6301    6302  1.0  53.46  57.12   1  0.4732  1.063721   1
6302    6303  0.0  52.67  66.40   0  0.5634  0.069767   1
6303    6304  0.0  72.32  35.65   1  0.3767  1.015349   1
6304    6305  1.0  56.84  45.31   1  0.4652  1.015349   1
6305    6306  1.0   0.00  59.48   1  0.4732  1.319302   1
6308    6309  0.0  59.42  36.58   0  0.2817  0.279070   1
6309    6310  1.0  70.11  64.64   1  0.2292  1.089535   1
6310    6311  0.0  70.34  50.02   1  0.3502  1.319302   1
6313    6314  0.0  48.18  50.34   0  0.5915  0.139535   1
6314    6315  1.0  71.07  27.79   1  0.4197  1.092326   1
6318    6319  1.0  70.65  43.46   0  0.4507  0.232558   1
6320    6321  1.0  66.52  41.59   1  0.4453  0.956744   1
6323    6324  1.0  67.90  38.07   1  0.4947  0.941395   1
6326    6327  1.0  59.05  54.98   1  0.4062  0.793256   1
6327    6328  1.0  74.65  40.46   0  0.3818  1.274419   1

[2868 rows x 8 columns]

In [6]:
from sklearn.linear_model import LinearRegression as LR

In [7]:
X_df = X6_1[['y','x1','x6']]
X_new = DataFrame(X6_1['x1'])
y_new = DataFrame(X6_1['y'])

In [8]:
X_df

        y     x1  x6
0     0.0  63.91   1
3     1.0  67.90   1
6     1.0  75.15   1
8     1.0  77.89   1
12    0.0  26.59   1
14    1.0  77.89   1
17    0.0  68.40   1
18    1.0  74.54   1
25    1.0  70.65   1
38    0.0  61.26   1
40    1.0  41.35   1
41    1.0  75.15   1
43    1.0  73.34   1
44    1.0  70.65   1
47    1.0  66.12   1
48    0.0  50.20   1
50    1.0  54.62   1
52    1.0  51.35   1
66    1.0  68.80   1
67    1.0  40.32   1
70    0.0  68.23   1
74    1.0  64.01   1
76    0.0  59.42   1
79    1.0  36.58   1
80    0.0  66.12   1
82    1.0  70.34   1
83    1.0  52.41   1
86    0.0  68.80   1
87    1.0  57.17   1
95    1.0  70.07   1
...   ...    ...  ..
6270  1.0  72.32   1
6271  1.0  65.69   1
6272  1.0  61.90   1
6274  1.0  72.32   1
6275  0.0  43.56   1
6278  1.0  76.24   1
6279  1.0  72.90   1
6281  1.0  76.93   1
6282  1.0  64.01   1
6283  1.0  75.15   1
6286  1.0  56.84   1
6289  1.0  51.76   1
6296  0.0  68.23   1
6298  0.0  72.32   1
6299  0.0  70.34   1
6301  1.0  53.46   1
6302  0.0  52.67   1
6303  0.0  72.32   1
6304  1.0  56.84   1
6305  1.0   0.00   1
6308  0.0  59.42   1
6309  1.0  70.11   1
6310  0.0  70.34   1
6313  0.0  48.18   1
6314  1.0  71.07   1
6318  1.0  70.65   1
6320  1.0  66.52   1
6323  1.0  67.90   1
6326  1.0  59.05   1
6327  1.0  74.65   1

[2868 rows x 3 columns]

In [9]:
X_new

         x1
0     63.91
3     67.90
6     75.15
8     77.89
12    26.59
14    77.89
17    68.40
18    74.54
25    70.65
38    61.26
40    41.35
41    75.15
43    73.34
44    70.65
47    66.12
48    50.20
50    54.62
52    51.35
66    68.80
67    40.32
70    68.23
74    64.01
76    59.42
79    36.58
80    66.12
82    70.34
83    52.41
86    68.80
87    57.17
95    70.07
...     ...
6270  72.32
6271  65.69
6272  61.90
6274  72.32
6275  43.56
6278  76.24
6279  72.90
6281  76.93
6282  64.01
6283  75.15
6286  56.84
6289  51.76
6296  68.23
6298  72.32
6299  70.34
6301  53.46
6302  52.67
6303  72.32
6304  56.84
6305   0.00
6308  59.42
6309  70.11
6310  70.34
6313  48.18
6314  71.07
6318  70.65
6320  66.52
6323  67.90
6326  59.05
6327  74.65

[2868 rows x 1 columns]

In [10]:
y_new

        y
0     0.0
3     1.0
6     1.0
8     1.0
12    0.0
14    1.0
17    0.0
18    1.0
25    1.0
38    0.0
40    1.0
41    1.0
43    1.0
44    1.0
47    1.0
48    0.0
50    1.0
52    1.0
66    1.0
67    1.0
70    0.0
74    1.0
76    0.0
79    1.0
80    0.0
82    1.0
83    1.0
86    0.0
87    1.0
95    1.0
...   ...
6270  1.0
6271  1.0
6272  1.0
6274  1.0
6275  0.0
6278  1.0
6279  1.0
6281  1.0
6282  1.0
6283  1.0
6286  1.0
6289  1.0
6296  0.0
6298  0.0
6299  0.0
6301  1.0
6302  0.0
6303  0.0
6304  1.0
6305  1.0
6308  0.0
6309  1.0
6310  0.0
6313  0.0
6314  1.0
6318  1.0
6320  1.0
6323  1.0
6326  1.0
6327  1.0

[2868 rows x 1 columns]

In [11]:
df = pd.read_excel('D:/2018 广东金融学院数学建模第一次模拟(1)/2018 广东金融学院数学建模第一次模拟/附件2.xlsx')

X2 = df[['x1','x6']]

In [12]:
X2

       x1  x6
0   67.90   1
1   61.90   1
2   60.47   3
3   70.11   1
4   65.49   3
5   70.61   4
6   67.65   4
7   45.93   1
8   36.86   2
9   75.15   1
10  71.78   1
11  74.54   1
12  65.49   4
13  42.91   1
14  57.43   1
15  51.62   2
16  43.89   4
17  75.59   2
18  79.22   1

In [13]:
X2_new = DataFrame(X2[X2['x6']==1]['x1'])

In [14]:
X2_new

       x1
0   67.90
1   61.90
3   70.11
7   45.93
9   75.15
10  71.78
11  74.54
13  42.91
14  57.43
18  79.22

In [15]:
lr = LR()

In [16]:
lr.fit(X_new, y_new)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [17]:
lr.predict(X2_new)

array([[0.76071273],
       [0.72733866],
       [0.77300551],
       [0.63850801],
       [0.80103973],
       [0.78229463],
       [0.7976467 ],
       [0.62170972],
       [0.70247498],
       [0.82367848]])

In [18]:
y_new

        y
0     0.0
3     1.0
6     1.0
8     1.0
12    0.0
14    1.0
17    0.0
18    1.0
25    1.0
38    0.0
40    1.0
41    1.0
43    1.0
44    1.0
47    1.0
48    0.0
50    1.0
52    1.0
66    1.0
67    1.0
70    0.0
74    1.0
76    0.0
79    1.0
80    0.0
82    1.0
83    1.0
86    0.0
87    1.0
95    1.0
...   ...
6270  1.0
6271  1.0
6272  1.0
6274  1.0
6275  0.0
6278  1.0
6279  1.0
6281  1.0
6282  1.0
6283  1.0
6286  1.0
6289  1.0
6296  0.0
6298  0.0
6299  0.0
6301  1.0
6302  0.0
6303  0.0
6304  1.0
6305  1.0
6308  0.0
6309  1.0
6310  0.0
6313  0.0
6314  1.0
6318  1.0
6320  1.0
6323  1.0
6326  1.0
6327  1.0

[2868 rows x 1 columns]